{% extends "base.html" %}
{% block title %}
    Lista de Productos
{% endblock %}
{% block container %}
    <div class="row">

        <div class="columns small-12 large-10 large-centered">
            <div class="columns large-6">
                <h2 class="titulo">Lista de Productos</h2>

            </div>
            <div class="columns large-4 large-offset-2" >

                <a href="{% url "producto_nuevo" %}" class="button">Agregar</a>
            </div>
            <hr>
            <table id="productos_list" style="width: 100%">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Precio</th>
                    <th>Opciones</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/datatables.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/datatables.min.js" %}"></script>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#productos_list').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'productos_list_data' %}",
                "columnDefs": [{
                    "targets": 3,
                    data: function (row) {
                        /* Agregamos un boton para detalles y eliminado del producto, (el pk viene de la vista)*/
                        return "<a class='button small primary' href='/productos/" + row[3] + "'>Ver más</a>";
                    }
                }],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
{% endblock %}