{% extends "base.html" %}
{% block title %}
    Elimianr {{ producto.nombre }}
{% endblock %}
{% block container %}
    <div class="columns small-12 large-6 medium-10 large-centered medium-centered">

        <h2 class="titulo">Eliminar {{ producto.nombre }}</h2>
        <h4 class="subheader">Modelo {{ producto.modelo }}</h4>
        <hr>
        <form method="post">
            {% csrf_token %}
            <h5>¿Esta seguro de <b>Eliminar</b> este producto?</h5>
            <code>Este paso es irreversible</code>
            <hr>
            <div class="button-group">
                <a class="button secondary" href="{% url "producto_detalle" producto.pk %}">Volver</a>
                <input class="button alert" type="submit" value="Eliminar">
            </div>
        </form>
    </div>
{% endblock %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/froala_editor.min.css" %}">
    <link rel="stylesheet" href="{% static "css/froala_style.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/froala_editor.min.js" %}"></script>
    <script src="{% static "js/es.js" %}"></script>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('#id_descripcion').froalaEditor({
                language: 'es',
                heightMin: 180,
                heightMax: 240
            })
        });
    </script>
{% endblock %}