{% extends "base.html" %}
{% block title %}
    Nuevo Producto
{% endblock %}
{% block container %}
    <div class="columns small-12 large-6 medium-10 large-centered medium-centered">

    <h2 class="titulo">Nuevo producto</h2>
    <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form_snippet.html' %}
            <div class="button-group">
                <a class="button secondary" href="{% url "lista_productos" %}">Volver</a>
                <input class="button success" type="submit" value="Crear">
            </div>
        </form>
    </div>
{% endblock %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/froala_editor.min.css" %}">
    <link rel="stylesheet" href="{% static "css/froala_style.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/froala_editor.min.js" %}"></script>
    <script src="{% static "js/es.js" %}"></script>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('#id_descripcion').froalaEditor({
                language: 'es',
                heightMin: 180,
                heightMax: 240
            })
        });
    </script>
{% endblock %}