{% extends "base.html" %}
{% block title %}
    {{ producto.nombre }}
{% endblock %}
{% block container %}
    <div class="columns large-8 small-12 medium-10 large-centered medium-centered">
        <h2 class="titulo">{{ producto.nombre }}</h2>
        <hr>
        <div class="row">
            <div class="columns large-7 medium-6 small-12">
                <img id="main_img" src="{{ MEDIA_URL }}{{ producto.imagenes.first.imagen }}" alt="" width="350">
                <ul class="horizontal_img">
                    {% for img in producto.imagenes.all %}
                        <li>
                            <img src="{{ MEDIA_URL }}/{{ img.imagen }}" alt="{{ img.imagen }}" width="100"
                                 onclick="change_img('{{ MEDIA_URL }}/{{ img.imagen }}')">
                        </li>
                    {% endfor %}
                </ul>
                <hr>
            </div>


            <div class="columns large-5 medium-6 small-12">
                <ul>
                    <li><b>Modelo: </b><span class="color_marcado">{{ producto.modelo }}</span></li>
                    <li><b>Descripción:</b> <span>
                        {{ producto.descripcion | safe }}
                    </span>
                    </li>
                    <li><b>Agregado el: </b> <span class="color_marcado"> {{ producto.fecha_creacion }}</span></li>
                    <li><b>Precio:</b><span class="color_marcado"> ${{ producto.precio }}</span></li>
                </ul>
            </div>
        </div>

        <div class="button-group">
            <a class="button secondary" href="{% url "lista_productos" %}">Volver</a>
            <a class="button alert" href="{% url "producto_eliminar"  producto.id %}">Eliminar</a>
            <a class="button" href="{% url "producto_editar"  producto.id %}">Editar</a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var change_img = function (url) {
            $('#main_img').attr('src', url);
        }
    </script>
{% endblock %}