{% extends "base.html" %}
{% block title %}
    Editar {{ producto.nombre }}
{% endblock %}
{% block container %}
    <div class="columns small-12 large-6 medium-10 large-centered medium-centered">

        <h2 class="titulo">Editar {{ producto.nombre }}</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {% include 'form_snippet.html' %}
            <h6>Imagenes</h6>
            {% for img in producto.imagenes.all %}
                <img src="{{ MEDIA_URL }}/{{ img.imagen }}" alt="">
            {% endfor %}

            <div class="button-group">
                <a class="button secondary" href="{% url "producto_detalle" producto.pk %}">Volver</a>
                <input class="button" type="submit" value="Editar">
            </div>

        </form>
    </div>
{% endblock %}
{% load staticfiles %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/froala_editor.min.css" %}">
    <link rel="stylesheet" href="{% static "css/froala_style.min.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="{% static "js/froala_editor.min.js" %}"></script>
    <script src="{% static "js/es.js" %}"></script>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('#id_descripcion').froalaEditor({
                language: 'es',
                heightMin: 180,
                heightMax: 240
            })
        });
    </script>
{% endblock %}