.titulo {
    color: #3186ab;
    font-weight: 300;
}

.color_marcado {
    color: #3186ab;
}

ul.horizontal_img {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.horizontal_img > li {
    float: left;
}