<!doctype html>
<html class="no-js" lang="es" dir="ltr">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
</head>
<body>

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Tienda Web</li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="{% url "lista_productos" %}">Productos</a></li>
    </ul>
  </div>
</div>
<div class="row expanded ">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %}
                class="center callout {% if message.tags == 'error' %} alert {% endif %} {{ message.tags }}" {% endif %}
                data-animate="slide-in-left" data-closable="slide-out-right">
                <h6><i class="fa fa-exclamation-circle"></i> {{ message }} </h6>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <br>
    {% endif %}
    {% block container %}

    {% endblock %}
</div>

<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.min.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% block extra_css %}{% endblock %}
{% block extra_js %}{% endblock %}
{% block scripts %}
{% endblock %}
</body>
</html>
