{% for field in form %}
    {% if not field.is_hidden %}
        <div class="" id="{{ field.auto_id }}_field_group">
            <label class="">
                {{ field.label }}
                {% if field.field.required %}
                    <b style="color: red;">*</b>
                {% endif %}
            </label>
            <div class="">
                <ul class="">
                    {% for error in field.errors %}
                        <li style="color: red">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="">
                {{ field }}
            </div>
            <div class="">
        <span class="">
            {{ field.help_text }}
        </span>
            </div>
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}